{
  "presets": ["react", "env"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true,
        "libraryDirectory": "lib",
        "camel2DashComponentName": true
      },
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      {
        "libraryName": "components",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      {
        "libraryName": "HOCS",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ],
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "dynamic-import-node"
  ],
  "ignore": [
    "node_modules"
  ]
}
